@font-face {
  font-family: 'Messina Sans Mono SemiBold';
  src: url('../assets/fonts/MessinaSansMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Messina Sans Mono Regular';
  src: url('../assets/fonts/MessinaSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biro Script Plus Bold US';
  src: url('../assets/fonts/BiroScriptUSPlus-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Biro Script Plus Bold';
  src: url('../assets/fonts/BiroScriptPlus-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Formular Regular';
  src: url('../assets/fonts/Formular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular Bold';
  src: url('../assets/fonts/Formular-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Right Grotesk Compact';
  src: url('../assets/fonts/RightGrotesk-CompactBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
